In [1]:
import pandas as pd

df_train = pd.read_csv('nTrain.csv')
df_train.head()

,DateOfDeparture,Departure,CityDeparture,LongitudeDeparture,LatitudeDeparture,Arrival,CityArrival,LongitudeArrival,LatitudeArrival,WeeksToDeparture,std_wtd,Distance,PAX
0,2011-12-05,ORD,Chicago,41.978603,-87.904842,EWR,Newark,40.692500,-74.168667,8.352941,5.667243,1527.939887,7
1,2013-03-01,ATL,Atlanta,33.636719,-84.428067,LGA,New York,40.777245,-73.872608,10.421053,10.001754,1181.336943,7
2,2012-02-06,ORD,Chicago,41.978603,-87.904842,BOS,Boston,42.364347,-71.005181,9.250000,7.136821,1879.752387,7
3,2012-12-10,ORD,Chicago,41.978603,-87.904842,SFO,San Francisco,37.618972,-122.374889,8.666667,7.404291,3833.459735,7
4,2012-04-13,SFO,San Francisco,37.618972,-122.374889,JFK,New York,40.639751,-73.778925,14.037037,9.858544,5403.554833,7

In [3]:
from math import sin, cos, sqrt, atan2, radians
#MHPWS NA KRATAW MONO AKAIREO MEROS
def distance_calculation(lat1,lon1,lat2,lon2): 
    
    R = 6373.0 # approximate radius of earth in km

    lat1 = radians(lat1)
    lon1 = radians(lon1)
    lat2 = radians(lat2)
    lon2 = radians(lon2)

    dlon = lon2 - lon1
    dlat = lat2 - lat1

    a = sin(dlat / 2)**2 + cos(lat1) * cos(lat2) * sin(dlon / 2)**2
    c = 2 * atan2(sqrt(a), sqrt(1 - a))

    distance = R * c

    return distance

disTr=[None]*len(df_train)
for i in range(len(df_train)):
    disTr[i] = distance_calculation(df_train['LatitudeDeparture'][i],df_train['LongitudeDeparture'][i],df_train['LatitudeArrival'][i],df_train['LongitudeArrival'][i])
   # print(i)

In [4]:
df_test = pd.read_csv('nTest.csv')

"\ndisTe=[None]*len(df_test)\nfor i in range(len(df_test)):\n    disTe[i] = distance_calculation(df_test['LatitudeDeparture'][i],df_test['LongitudeDeparture'][i],df_test['LatitudeArrival'][i],df_test['LongitudeArrival'][i])\n    #print(i)\n"

In [ ]:
#Normalize distance
#from sklearn import preprocessing
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler
import numpy as np
scaler2 = StandardScaler()
#X_scaled = preprocessing.scale(df_train['Distance'])
#T_scaled = preprocessing.scale(df_test['Distance'])
scaler=MinMaxScaler()
td0=[None]*len(df_train)
td1=[None]*len(df_test)

disTrain=disTr.copy()
disTest=disTe.copy()
disTrain2=disTr.copy()
disTest2=disTe.copy()

disTrain=np.ravel(disTrain)
disTest=np.ravel(disTest)
disTrain2=np.ravel(disTrain2)
disTest2=np.ravel(disTest2)

disTrain=disTrain.reshape(-1, 1)
disTest=disTest.reshape(-1, 1)
disTrain2=disTrain2.reshape(-1, 1)
disTest2=disTest2.reshape(-1, 1)

X_scaled = scaler.fit_transform(disTrain)  
T_scaled = scaler.fit_transform(disTest)
X_scaled2 = scaler2.fit_transform(disTrain2)  
T_scaled2 = scaler2.fit_transform(disTest2)

m1 =max(disTr) #df_train['Distance'].max()
m2 = max(disTe)
m0=0
if(m1>=m2):
    m0=m1
else:
    m0=m2
t1 = [None]*len(df_train)
t2 = [None]*len(df_test)
for i in range(len(df_train)):
    t1[i]=disTr[i]/m0
    td0[i]=disTr[i]/(10**4)
    disTrain[i]=X_scaled[i]
    disTrain2[i]=X_scaled2[i]
for i in range(len(df_test)):
    t2[i]=disTe[i]/m0
    disTest[i]=T_scaled[i]
    td1[i]=disTe[i]/(10**4)
    disTest2[i]=T_scaled2[i]

In [5]:
#Airports train
d=0
a=0
airportTr= [None]*len(df_train)
air=['ATL','ORD','LAX','DFW','DEN','JFK','SFO','CLT','LAS','PHX','IAH','MIA','MCO','EWR','SEA','MSP','DTW','PHL','BOS']
for i in range(len(df_train)):
    a=0
    d=0
    for j in range(len(air)):
        if(df_train['Arrival'][i]==air[j]):
            a=1
        if(df_train['Departure'][i]==air[j]):
            d=1
    if(a==1 and d==1):
        airportTr[i] = 2
            
    elif((a==1 and d!=1) or (a!=1 and d==1)):
        airportTr[i] = 1
    else:
        airportTr[i] = 0
df_train.head()

,DateOfDeparture,Departure,CityDeparture,LongitudeDeparture,LatitudeDeparture,Arrival,CityArrival,LongitudeArrival,LatitudeArrival,WeeksToDeparture,std_wtd,Distance,PAX
0,2011-12-05,ORD,Chicago,41.978603,-87.904842,EWR,Newark,40.692500,-74.168667,8.352941,5.667243,1527.939887,7
1,2013-03-01,ATL,Atlanta,33.636719,-84.428067,LGA,New York,40.777245,-73.872608,10.421053,10.001754,1181.336943,7
2,2012-02-06,ORD,Chicago,41.978603,-87.904842,BOS,Boston,42.364347,-71.005181,9.250000,7.136821,1879.752387,7
3,2012-12-10,ORD,Chicago,41.978603,-87.904842,SFO,San Francisco,37.618972,-122.374889,8.666667,7.404291,3833.459735,7
4,2012-04-13,SFO,San Francisco,37.618972,-122.374889,JFK,New York,40.639751,-73.778925,14.037037,9.858544,5403.554833,7

In [6]:
#Airports test data
d=0
a=0
airportTe= [None]*len(df_test)
air=['ATL','ORD','LAX','DFW','DEN','JFK','SFO','CLT','LAS','PHX','IAH','MIA','MCO','EWR','SEA','MSP','DTW','PHL','BOS']
for i in range(len(df_test)):
    a=0
    d=0
    for j in range(len(air)):
        if(df_test['Arrival'][i]==air[j]):
            a=1
        if(df_test['Departure'][i]==air[j]):
            d=1
    if(a==1 and d==1):
        airportTe[i] = 2
            
    elif((a==1 and d!=1) or (a!=1 and d==1)):
        airportTe[i] = 1
    else:
        airportTe[i] = 0
df_test.head()

,DateOfDeparture,Departure,CityDeparture,LongitudeDeparture,LatitudeDeparture,Arrival,CityArrival,LongitudeArrival,LatitudeArrival,WeeksToDeparture,std_wtd,Distance
0,2012-10-21,DFW,Dallas-Fort Worth,32.896828,-97.037997,SFO,San Francisco,37.618972,-122.374889,14.600000,11.575837,2821.532925
1,2012-09-13,LAX,Los Angeles,33.942536,-118.408075,ATL,Atlanta,33.636719,-84.428067,14.730769,13.364304,3779.583120
2,2012-09-04,ORD,Chicago,41.978603,-87.904842,IAH,Houston,29.984433,-95.341442,8.470588,5.885551,823.505267
3,2012-08-13,DEN,Denver,39.861656,-104.673178,PHX,Phoenix,33.434278,-112.011583,8.200000,6.292853,845.501646
4,2012-09-10,ORD,Chicago,41.978603,-87.904842,SEA,Seattle,47.449000,-122.309306,12.090909,9.138662,3825.798893

In [7]:
import datetime
from datetime import date
import holidays
us_holidays = holidays.UnitedStates()
y=[2010,2011,2012,2013,2014,2015]
y10=[None]*10
y11=[None]*10
y12=[None]*10
y13=[None]*10
y14=[None]*10
y15=[None]*10
counter=0
i0=0
i1=0
i2=0
i3=0
i4=0
i5=0
for date, name in sorted(holidays.US(state=None, years=y,observed=False).items()):
        counter+=1
        if(counter<=10):
            y10[i0]=date
            i0+=1
        elif(counter>10 and counter<=20):
            y11[i1]=date
            i1+=1
        elif(counter>20 and counter<=30):
            y12[i2]=date
            i2+=1
        elif(counter>30 and counter<=40):
            y13[i3]=date
            i3+=1
        elif(counter>40 and counter<=50):
            y14[i4]=date
            i4+=1
        elif(counter>50 and counter<=60):
            y15[i5]=date
            i5+=1

In [8]:
#Date train data

dayTr=[None]*len(df_train)
monthTr = [None]*len(df_train)
yearTr = [None]*len(df_train)
holTr=[None]*len(df_train)
normDate=[None]*len(df_train)
doubleYear=[31,29,31,30,31,30,31,31,30,31,30,31]
oneYear=[31,28,31,30,31,30,31,31,30,31,30,31]
for i in range(len(df_train)):
    ys,ms,ds=df_train['DateOfDeparture'][i].split('-')
    d=int(ds)
    m=int(ms)
    y=int(ys)
    dayTr[i]=d
    monthTr[i]=m
    yearTr[i]=y
    holTr[i]=0
    if(m==12):
        if(d>=18 and d<=31):
            holTr[i]=2
        elif(d>=1 and d<=3):
            holTr[i]=2
    elif(m==1):
         if(d>=1 and d<=6):
            holTr[i]=2
       
    elif(m==9):
         if(d>=1 and d<=7):
            holTr[i]=1
        
    elif(m==8):
        
        if(d>=29 and d<=31):
            holTr[i]=1
        wD=datetime.date(y,m,d).weekday()
        if(wD==4 or wD==5 or wD==6):
            holTr[i]=1 
        
    elif(m==5):
         if(d>=22 and d<=30):
            holTr[i]=1
        
    elif(m==7):
        if(d>=1 and d<=7):
            holTr[i]=1
        wD=datetime.date(y,m,d).weekday()
        if(wD==4 or wD==5 or wD==6):
            holTr[i]=1 
    elif(m==11):
         if(d>=23 and d<=31):
            holTr[i]=2
   

    #NEW ENTRY NORM DATE
    if(y==2012):
        if(m==1):
            normDate[i]=d/366  
        elif(m==2):
             normDate[i]=(doubleYear[0]+d)/366 
        elif(m==3):
             normDate[i]=(doubleYear[0]+doubleYear[1]+d)/366 
        
        elif(m==4):
             normDate[i]=(doubleYear[0]+doubleYear[1]+doubleYear[2]+d)/366 
        
        elif(m==5):
             normDate[i]=(doubleYear[0]+doubleYear[1]+doubleYear[2]+doubleYear[3]+d)/366 
        elif(m==6):
             normDate[i]=(doubleYear[0]+doubleYear[1]+doubleYear[2]+doubleYear[3]+doubleYear[4]+d)/366 
        
        elif(m==7):
            normDate[i]=(doubleYear[0]+doubleYear[1]+doubleYear[2]+doubleYear[3]+doubleYear[4]+doubleYear[5]+d)/366 
        elif(m==8):
            normDate[i]=(doubleYear[0]+doubleYear[1]+doubleYear[2]+doubleYear[3]+doubleYear[4]+doubleYear[5]+doubleYear[6]+d)/366 
        elif(m==9):
            normDate[i]=(doubleYear[0]+doubleYear[1]+doubleYear[2]+doubleYear[3]+doubleYear[4]+doubleYear[5]+doubleYear[6]+doubleYear[7]+d)/366 
        elif(m==10):
            normDate[i]=(doubleYear[0]+doubleYear[1]+doubleYear[2]+doubleYear[3]+doubleYear[4]+doubleYear[5]+doubleYear[6]+doubleYear[7]+doubleYear[8]+d)/366 
        elif(m==11):
            normDate[i]=(doubleYear[0]+doubleYear[1]+doubleYear[2]+doubleYear[3]+doubleYear[4]+doubleYear[5]+doubleYear[6]+doubleYear[7]+doubleYear[8]+doubleYear[9]+d)/366 
        elif(m==12):
            normDate[i]=(doubleYear[0]+doubleYear[1]+doubleYear[2]+doubleYear[3]+doubleYear[4]+doubleYear[5]+doubleYear[6]+doubleYear[7]+doubleYear[8]+doubleYear[9]+doubleYear[10]+d)/366 
    else:
        if(m==1):
            normDate[i]=d/365 
        elif(m==2):
             normDate[i]=(oneYear[0]+d)/365 
        elif(m==3):
             normDate[i]=(oneYear[0]+oneYear[1]+d)/365 
        
        elif(m==4):
             normDate[i]=(oneYear[0]+oneYear[1]+oneYear[2]+d)/365 
        
        elif(m==5):
             normDate[i]=(oneYear[0]+oneYear[1]+oneYear[2]+oneYear[3]+d)/365 
        elif(m==6):
             normDate[i]=(oneYear[0]+oneYear[1]+oneYear[2]+oneYear[3]+oneYear[4]+d)/365 
        
        elif(m==7):
            normDate[i]=(oneYear[0]+oneYear[1]+oneYear[2]+oneYear[3]+oneYear[4]+oneYear[5]+d)/365 
        elif(m==8):
            normDate[i]=(oneYear[0]+oneYear[1]+oneYear[2]+oneYear[3]+oneYear[4]+oneYear[5]+oneYear[6]+d)/365 
        elif(m==9):
            normDate[i]=(oneYear[0]+oneYear[1]+oneYear[2]+oneYear[3]+oneYear[4]+oneYear[5]+oneYear[6]+oneYear[7]+d)/365 
        elif(m==10):
            normDate[i]=(oneYear[0]+oneYear[1]+oneYear[2]+oneYear[3]+oneYear[4]+oneYear[5]+oneYear[6]+oneYear[7]+oneYear[8]+d)/365 
        elif(m==11):
            normDate[i]=(oneYear[0]+oneYear[1]+oneYear[2]+oneYear[3]+oneYear[4]+oneYear[5]+oneYear[6]+oneYear[7]+oneYear[8]+oneYear[9]+d)/365 
        elif(m==12):
            normDate[i]=(oneYear[0]+oneYear[1]+oneYear[2]+oneYear[3]+oneYear[4]+oneYear[5]+oneYear[6]+oneYear[7]+oneYear[8]+oneYear[9]+oneYear[10]+d)/365

In [9]:
#Date Test data
import datetime
dayTe=[None]*len(df_test)
monthTe = [None]*len(df_test)
yearTe = [None]*len(df_test)
holTe=[None]*len(df_test)
normDate1=[None]*len(df_test)
doubleYear=[31,29,31,30,31,30,31,31,30,31,30,31]
oneYear=[31,28,31,30,31,30,31,31,30,31,30,31]
for i in range(len(df_test)):
    ys,ms,ds=df_test['DateOfDeparture'][i].split('-')
    d=int(ds)
    m=int(ms)
    y=int(ys)
    dayTe[i]=d
    monthTe[i]=m
    yearTe[i]=y
    holTe[i]=0
    if(m==12):
        if(d>=18 and d<=31):
            holTe[i]=2
        elif(d>=1 and d<=3):
            holTe[i]=2
        
    elif(m==1):
         if(d>=1 and d<=6):
            holTe[i]=2
        
    elif(m==9):
         if(d>=1 and d<=7):
            holTe[i]=1
        
    elif(m==8):
        if(d>=29 and d<=31):
            holTe[i]=1
        wD=datetime.date(y,m,d).weekday()
        if(wD==4 or wD==5 or wD==6):
            holTe[i]=1 
    elif(m==5):
         if(d>=22 and d<=30):
            holTe[i]=1
        
    elif(m==7):
        if(d>=1 and d<=7):
            holTe[i]=1
        wD=datetime.date(y,m,d).weekday()
        if(wD==4 or wD==5 or wD==6):
            holTe[i]=1 
    elif(m==11):
         if(d>=23 and d<=31):
            holTe[i]=2

            
    #NEW ENTRY NORM DATE
    if(y==2012):
        if(m==1):
            normDate1[i]=d/366  
        elif(m==2):
             normDate1[i]=(doubleYear[0]+d)/366 
        elif(m==3):
             normDate1[i]=(doubleYear[0]+doubleYear[1]+d)/366 
        
        elif(m==4):
             normDate1[i]=(doubleYear[0]+doubleYear[1]+doubleYear[2]+d)/366 
        
        elif(m==5):
             normDate1[i]=(doubleYear[0]+doubleYear[1]+doubleYear[2]+doubleYear[3]+d)/366 
        elif(m==6):
             normDate1[i]=(doubleYear[0]+doubleYear[1]+doubleYear[2]+doubleYear[3]+doubleYear[4]+d)/366 
        
        elif(m==7):
            normDate1[i]=(doubleYear[0]+doubleYear[1]+doubleYear[2]+doubleYear[3]+doubleYear[4]+doubleYear[5]+d)/366 
        elif(m==8):
            normDate1[i]=(doubleYear[0]+doubleYear[1]+doubleYear[2]+doubleYear[3]+doubleYear[4]+doubleYear[5]+doubleYear[6]+d)/366 
        elif(m==9):
            normDate1[i]=(doubleYear[0]+doubleYear[1]+doubleYear[2]+doubleYear[3]+doubleYear[4]+doubleYear[5]+doubleYear[6]+doubleYear[7]+d)/366 
        elif(m==10):
            normDate1[i]=(doubleYear[0]+doubleYear[1]+doubleYear[2]+doubleYear[3]+doubleYear[4]+doubleYear[5]+doubleYear[6]+doubleYear[7]+doubleYear[8]+d)/366 
        elif(m==11):
            normDate1[i]=(doubleYear[0]+doubleYear[1]+doubleYear[2]+doubleYear[3]+doubleYear[4]+doubleYear[5]+doubleYear[6]+doubleYear[7]+doubleYear[8]+doubleYear[9]+d)/366 
        elif(m==12):
            normDate1[i]=(doubleYear[0]+doubleYear[1]+doubleYear[2]+doubleYear[3]+doubleYear[4]+doubleYear[5]+doubleYear[6]+doubleYear[7]+doubleYear[8]+doubleYear[9]+doubleYear[10]+d)/366 
    else:
        if(m==1):
            normDate1[i]=d/365 
        elif(m==2):
             normDate1[i]=(oneYear[0]+d)/365 
        elif(m==3):
             normDate1[i]=(oneYear[0]+oneYear[1]+d)/365 
        
        elif(m==4):
             normDate1[i]=(oneYear[0]+oneYear[1]+oneYear[2]+d)/365 
        
        elif(m==5):
             normDate1[i]=(oneYear[0]+oneYear[1]+oneYear[2]+oneYear[3]+d)/365 
        elif(m==6):
             normDate1[i]=(oneYear[0]+oneYear[1]+oneYear[2]+oneYear[3]+oneYear[4]+d)/365 
        
        elif(m==7):
            normDate1[i]=(oneYear[0]+oneYear[1]+oneYear[2]+oneYear[3]+oneYear[4]+oneYear[5]+d)/365 
        elif(m==8):
            normDate1[i]=(oneYear[0]+oneYear[1]+oneYear[2]+oneYear[3]+oneYear[4]+oneYear[5]+oneYear[6]+d)/365 
        elif(m==9):
            normDate1[i]=(oneYear[0]+oneYear[1]+oneYear[2]+oneYear[3]+oneYear[4]+oneYear[5]+oneYear[6]+oneYear[7]+d)/365 
        elif(m==10):
            normDate1[i]=(oneYear[0]+oneYear[1]+oneYear[2]+oneYear[3]+oneYear[4]+oneYear[5]+oneYear[6]+oneYear[7]+oneYear[8]+d)/365 
        elif(m==11):
            normDate1[i]=(oneYear[0]+oneYear[1]+oneYear[2]+oneYear[3]+oneYear[4]+oneYear[5]+oneYear[6]+oneYear[7]+oneYear[8]+oneYear[9]+d)/365 
        elif(m==12):
            normDate1[i]=(oneYear[0]+oneYear[1]+oneYear[2]+oneYear[3]+oneYear[4]+oneYear[5]+oneYear[6]+oneYear[7]+oneYear[8]+oneYear[9]+oneYear[10]+d)/365

In [ ]:

size2= len(df_test)
cv2=[None]*size2;

for i in range(len(df_test)):
    cv2[i]=df_test['std_wtd'][i]/df_test['WeeksToDeparture'][i]

In [ ]:

size= len(df_train)
cv=[None]*size;

for i in range(len(df_train)):
    cv[i]=df_train['std_wtd'][i]/df_train['WeeksToDeparture'][i]
    
df_train.shape

In [ ]:
#Normalize std,weektodep,cv
#from sklearn import preprocessing
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler
import numpy as np

cvt0=[None]*len(df_train)
cvt1=[None]*len(df_test)
stt0=[None]*len(df_train)
stt1=[None]*len(df_test)
mt0=[None]*len(df_train)
mt1=[None]*len(df_test)

mA1=[None]*len(df_train)
mA2=[None]*len(df_train)
mA3=[None]*len(df_train)

mA4=[None]*len(df_test)
mA5=[None]*len(df_test)
mA6=[None]*len(df_test)

scaler4 = StandardScaler()
scaler5 = StandardScaler()
scaler6 = StandardScaler()
scaler=MinMaxScaler()
scaler2=MinMaxScaler()
scaler3=MinMaxScaler()


ncv=cv.copy()
ncv2=cv2.copy()
nm=df_train['WeeksToDeparture'].copy()
nm2=df_test['WeeksToDeparture'].copy()
nsd=df_train['std_wtd'].copy()
nsd2=df_test['std_wtd'].copy()

ncv3=cv.copy()
ncv4=cv2.copy()
nm3=df_train['WeeksToDeparture'].copy()
nm4=df_test['WeeksToDeparture'].copy()
nsd3=df_train['std_wtd'].copy()
nsd4=df_test['std_wtd'].copy()

ncv=np.ravel(ncv)
ncv2=np.ravel(ncv2)
nm=np.ravel(nm)
nm2=np.ravel(nm2)
nsd=np.ravel(nsd)
nsd2=np.ravel(nsd2)


ncv3=np.ravel(ncv3)
ncv4=np.ravel(ncv4)
nm3=np.ravel(nm3)
nm4=np.ravel(nm4)
nsd3=np.ravel(nsd3)
nsd4=np.ravel(nsd4)

ncv=ncv.reshape(-1, 1)
ncv2=ncv2.reshape(-1, 1)
nm=nm.reshape(-1, 1)
nm2=nm2.reshape(-1, 1)
nsd=nsd.reshape(-1, 1)
nsd2=nsd2.reshape(-1, 1)

ncv3=ncv3.reshape(-1, 1)
ncv4=ncv4.reshape(-1, 1)
nm3=nm3.reshape(-1, 1)
nm4=nm4.reshape(-1, 1)
nsd3=nsd3.reshape(-1, 1)
nsd4=nsd4.reshape(-1, 1)


mX1=df_train['WeeksToDeparture'].max()
mX2=df_train['std_wtd'].max()
mX3=max(cv)
mX4=df_test['WeeksToDeparture'].max()
mX5=df_test['std_wtd'].max()
mX6=max(cv2)
mX0=0
mX7=0
mX8=0
if(mX1>=mX4):
    mX0=mX1
else:
    mX0=mX4
    
if(mX2>=mX5):
    mX7=mX2
else:
    mX7=mX5
    
if(mX3>=mX6):
    mX8=mX3
else:
    mX8=mX6

X_scaled = scaler.fit_transform(ncv)  
T_scaled = scaler.fit_transform(ncv2)
X_scaled2 = scaler2.fit_transform(nm)  
T_scaled2 = scaler2.fit_transform(nm2)
X_scaled3 = scaler3.fit_transform(nsd)  
T_scaled3 = scaler3.fit_transform(nsd2)

X_scaled4 = scaler4.fit_transform(ncv3)  
T_scaled4 = scaler4.fit_transform(ncv4)
X_scaled5 = scaler5.fit_transform(nm3)  
T_scaled5 = scaler5.fit_transform(nm4)
X_scaled6 = scaler6.fit_transform(nsd3)  
T_scaled6 = scaler6.fit_transform(nsd4)

for i in range(len(df_train)):
    ncv[i]=X_scaled[i]
    nm[i]=X_scaled2[i]
    nsd[i]= X_scaled3[i]
    cvt0[i]=cv[i]/(10**1)
    stt0[i]=df_train['std_wtd'][i]/(10**2)
    mt0[i]=df_train['WeeksToDeparture'][i]/(10**2)
    mA1[i]=df_train['WeeksToDeparture'][i]/mX0
    mA2[i]=df_train['std_wtd'][i]/mX7
    mA3[i]=cv[i]/mX8
    
    ncv3[i]=X_scaled4[i]
    nm3[i]=X_scaled5[i]
    nsd3[i]= X_scaled6[i]
    
for i in range(len(df_test)):
    ncv2[i]=T_scaled[i]
    nm2[i]=T_scaled2[i]
    nsd2[i]= T_scaled3[i]
    cvt1[i]=cv2[i]/(10**1)
    stt1[i]=df_test['std_wtd'][i]/(10**2)
    mt1[i]=df_test['WeeksToDeparture'][i]/(10**2)
    mA4[i]=df_train['WeeksToDeparture'][i]/mX0
    mA5[i]=df_train['std_wtd'][i]/mX7
    mA6[i]=cv[i]/mX8
    
    ncv4[i]=T_scaled4[i]
    nm4[i]=T_scaled5[i]
    nsd4[i]= T_scaled6[i]

In [12]:

from sklearn.preprocessing import MinMaxScaler
import numpy as np
scaler = MinMaxScaler()
df_train[['LongitudeDeparture','LatitudeDeparture','LongitudeArrival','LatitudeArrival','WeeksToDeparture','std_wtd','Distance']]=scaler.fit_transform(df_train[['LongitudeDeparture','LatitudeDeparture','LongitudeArrival','LatitudeArrival','WeeksToDeparture','std_wtd','Distance']])
df_train.head()

,DateOfDeparture,Departure,CityDeparture,LongitudeDeparture,LatitudeDeparture,Arrival,CityArrival,LongitudeArrival,LatitudeArrival,WeeksToDeparture,std_wtd,Distance,PAX
0,2011-12-05,ORD,Chicago,0.747393,0.671019,EWR,Newark,0.688004,0.938417,0.296656,0.255948,0.246995,7
1,2013-03-01,ATL,Atlanta,0.362189,0.738700,LGA,New York,0.691918,0.944181,0.403766,0.572291,0.184571,7
2,2012-02-06,ORD,Chicago,0.747393,0.671019,BOS,Boston,0.765205,1.000000,0.343116,0.363201,0.310356,7
3,2012-12-10,ORD,Chicago,0.747393,0.671019,SFO,San Francisco,0.546078,0.000000,0.312905,0.382722,0.662220,7
4,2012-04-13,SFO,San Francisco,0.546078,0.000000,JFK,New York,0.685569,0.946004,0.591042,0.561839,0.944995,7

In [10]:
from sklearn.preprocessing import StandardScaler
scaler1 = StandardScaler()
df_train[['LongitudeDeparture','LatitudeDeparture','LongitudeArrival','LatitudeArrival','WeeksToDeparture','std_wtd','Distance']]=scaler1.fit_transform(df_train[['LongitudeDeparture','LatitudeDeparture','LongitudeArrival','LatitudeArrival','WeeksToDeparture','std_wtd','Distance']])
df_train.head()

,DateOfDeparture,Departure,CityDeparture,LongitudeDeparture,LatitudeDeparture,Arrival,CityArrival,LongitudeArrival,LatitudeArrival,WeeksToDeparture,std_wtd,Distance,PAX
0,2011-12-05,ORD,Chicago,0.893873,0.334627,EWR,Newark,0.628311,1.114971,-1.110302,-1.382558,-0.239266,7
1,2013-03-01,ATL,Atlanta,-0.894398,0.533909,LGA,New York,0.646326,1.131891,-0.371087,0.643282,-0.466538,7
2,2012-02-06,ORD,Chicago,0.893873,0.334627,BOS,Boston,0.983713,1.295768,-0.789662,-0.695715,-0.008578,7
3,2012-12-10,ORD,Chicago,0.893873,0.334627,SFO,San Francisco,-0.025061,-1.640075,-0.998166,-0.570706,1.272492,7
4,2012-04-13,SFO,San Francisco,-0.040712,-1.641137,JFK,New York,0.617098,1.137245,0.921391,0.576349,2.302023,7

In [13]:
scaler = MinMaxScaler()
df_test[['LongitudeDeparture','LatitudeDeparture','LongitudeArrival','LatitudeArrival','WeeksToDeparture','std_wtd','Distance']]=scaler.fit_transform(df_test[['LongitudeDeparture','LatitudeDeparture','LongitudeArrival','LatitudeArrival','WeeksToDeparture','std_wtd','Distance']])
df_test.head()

,DateOfDeparture,Departure,CityDeparture,LongitudeDeparture,LatitudeDeparture,Arrival,CityArrival,LongitudeArrival,LatitudeArrival,WeeksToDeparture,std_wtd,Distance
0,2012-10-21,DFW,Dallas-Fort Worth,0.328023,0.493226,SFO,San Francisco,0.546078,0.000000,0.580505,0.632963,0.479971
1,2012-09-13,LAX,Los Angeles,0.376310,0.077221,ATL,Atlanta,0.362189,0.738700,0.586911,0.753192,0.652517
2,2012-09-04,ORD,Chicago,0.747393,0.671019,IAH,Houston,0.193537,0.526253,0.280239,0.250433,0.120126
3,2012-08-13,DEN,Denver,0.649638,0.344594,PHX,Phoenix,0.352841,0.201740,0.266983,0.277814,0.124087
4,2012-09-10,ORD,Chicago,0.747393,0.671019,SEA,Seattle,1.000000,0.001277,0.457590,0.469124,0.660840

In [11]:
scaler1 = StandardScaler()
df_test[['LongitudeDeparture','LatitudeDeparture','LongitudeArrival','LatitudeArrival','WeeksToDeparture','std_wtd','Distance']]=scaler1.fit_transform(df_test[['LongitudeDeparture','LatitudeDeparture','LongitudeArrival','LatitudeArrival','WeeksToDeparture','std_wtd','Distance']])
df_test.head()

,DateOfDeparture,Departure,CityDeparture,LongitudeDeparture,LatitudeDeparture,Arrival,CityArrival,LongitudeArrival,LatitudeArrival,WeeksToDeparture,std_wtd,Distance
0,2012-10-21,DFW,Dallas-Fort Worth,-1.046445,-0.185228,SFO,San Francisco,-0.043391,-1.665838,1.091168,1.337355,0.590574
1,2012-09-13,LAX,Los Angeles,-0.820550,-1.411666,ATL,Atlanta,-0.889163,0.494646,1.137155,2.161748,1.215239
2,2012-09-04,ORD,Chicago,0.915406,0.338927,IAH,Houston,-1.664855,-0.126702,-1.064346,-1.285581,-0.712174
3,2012-08-13,DEN,Denver,0.458101,-0.623415,PHX,Phoenix,-0.932159,-1.075808,-1.159503,-1.097835,-0.697832
4,2012-09-10,ORD,Chicago,0.915406,0.338927,SEA,Seattle,2.044363,-1.662104,0.208802,0.213940,1.245372

In [ ]:
import csv
with open('fTrain.csv', 'w', newline='') as csvfile:
    writer = csv.writer(csvfile, delimiter=',')
    writer.writerow(['DateOfDeparture', 'Departure','CityDeparture','LongitudeDeparture','LatitudeDeparture','Arrival','CityArrival','LongitudeArrival','LatitudeArrival','WeeksToDeparture','std_wtd','Norm mean','Norm std','CV','CV of norm','Distance','Norm Distance','Airports','Day','Month','Year','IsHolidays','PAX'])
    for i in range(len(df_train)):
        writer.writerow([df_train['DateOfDeparture'][i],df_train['Departure'][i],df_train['CityDeparture'][i],df_train['LongitudeDeparture'][i],df_train['LatitudeDeparture'][i],df_train['Arrival'][i],df_train['CityArrival'][i],df_train['LongitudeArrival'][i],df_train['LatitudeArrival'][i],df_train['WeeksToDeparture'][i],df_train['std_wtd'][i],nm.T[0][i],nsd.T[0][i],cv[i],ncv.T[0][i],disTr[i],disTrain.T[0][i],airportTr[i],dayTr[i],monthTr[i],yearTr[i],holTr[i],df_train['PAX'][i]])

In [ ]:
import csv
with open('tTrain.csv', 'w', newline='') as csvfile:
    writer = csv.writer(csvfile, delimiter=',')
    writer.writerow(['DateOfDeparture', 'Departure','CityDeparture','LongitudeDeparture','LatitudeDeparture','Arrival','CityArrival','LongitudeArrival','LatitudeArrival','WeeksToDeparture','std_wtd','Norm mean','Norm std','Norm std(MAX)','Norm mean(MAX)','CV','CV of norm','Norm CV(MAX)','Distance','Norm Distance','Norm Distance(MAX)','Airports','Day','Month','Year','IsHolidays','PAX'])
    for i in range(len(df_train)):
        writer.writerow([df_train['DateOfDeparture'][i],df_train['Departure'][i],df_train['CityDeparture'][i],df_train['LongitudeDeparture'][i],df_train['LatitudeDeparture'][i],df_train['Arrival'][i],df_train['CityArrival'][i],df_train['LongitudeArrival'][i],df_train['LatitudeArrival'][i],df_train['WeeksToDeparture'][i],df_train['std_wtd'][i],mt0[i],stt0[i],mA2[i],mA1[i],cv[i],cvt0[i],mA3[i],disTr[i],td0[i],t1[i],airportTr[i],dayTr[i],monthTr[i],yearTr[i],holTr[i],df_train['PAX'][i]])

In [ ]:
import csv
with open('fTest.csv', 'w', newline='') as csvfile:
    writer = csv.writer(csvfile, delimiter=',')
    writer.writerow(['DateOfDeparture', 'Departure','CityDeparture','LongitudeDeparture','LatitudeDeparture','Arrival','CityArrival','LongitudeArrival','LatitudeArrival','WeeksToDeparture','std_wtd','Norm mean','Norm std','CV','CV of norm','Distance','Norm Distance','Airports','Day','Month','Year','IsHolidays'])
    for i in range(len(df_test)):
        writer.writerow([df_test['DateOfDeparture'][i],df_test['Departure'][i],df_test['CityDeparture'][i],df_test['LongitudeDeparture'][i],df_test['LatitudeDeparture'][i],df_test['Arrival'][i],df_test['CityArrival'][i],df_test['LongitudeArrival'][i],df_test['LatitudeArrival'][i],df_test['WeeksToDeparture'][i],df_test['std_wtd'][i],nm2.T[0][i],nsd2.T[0][i],cv2[i],ncv2.T[0][i],disTe[i],disTest.T[0][i],airportTe[i],dayTe[i],monthTe[i],yearTe[i],holTe[i]])

In [ ]:
import csv
with open('tTest.csv', 'w', newline='') as csvfile:
    writer = csv.writer(csvfile, delimiter=',')
    writer.writerow(['DateOfDeparture', 'Departure','CityDeparture','LongitudeDeparture','LatitudeDeparture','Arrival','CityArrival','LongitudeArrival','LatitudeArrival','WeeksToDeparture','std_wtd','Norm mean','Norm std','Norm std(MAX)','Norm mean(MAX)','CV','CV of norm','Norm CV(MAX)','Distance','Norm Distance','Norm Distance(MAX)','Airports','Day','Month','Year','IsHolidays'])
    for i in range(len(df_test)):
        writer.writerow([df_test['DateOfDeparture'][i],df_test['Departure'][i],df_test['CityDeparture'][i],df_test['LongitudeDeparture'][i],df_test['LatitudeDeparture'][i],df_test['Arrival'][i],df_test['CityArrival'][i],df_test['LongitudeArrival'][i],df_test['LatitudeArrival'][i],df_test['WeeksToDeparture'][i],df_test['std_wtd'][i],mt1[i],stt1[i],mA5[i],mA4[i],cv2[i],cvt1[i],mA6[i],disTe[i],td1[i],t2[i],airportTe[i],dayTe[i],monthTe[i],yearTe[i],holTe[i]])

In [ ]:
import csv
with open('TrainV2.csv', 'w', newline='') as csvfile:
    writer = csv.writer(csvfile, delimiter=',')
    writer.writerow(['DateOfDeparture', 'Departure','CityDeparture','LongitudeDeparture','LatitudeDeparture','Arrival','CityArrival','LongitudeArrival','LatitudeArrival','WeeksToDeparture','std_wtd','Norm mean','Norm std','Norm std(MAX)','Norm mean(MAX)','CV','CV of norm','Norm CV(MAX)','Distance','Norm Distance','Norm Distance(MAX)','mean(MinMaxScale)','std(MinMaxScale)','CV(MinMaxScale)','Distance(MinMaxScale)','mean(StandardScale)','std(StandardScale)','CV(StandardScale)','Distance(StandardScale)','Airports','Date(Norm)','Day','Month','Year','IsHolidays','PAX'])
    for i in range(len(df_train)):
        writer.writerow([df_train['DateOfDeparture'][i],df_train['Departure'][i],df_train['CityDeparture'][i],df_train['LongitudeDeparture'][i],df_train['LatitudeDeparture'][i],df_train['Arrival'][i],df_train['CityArrival'][i],df_train['LongitudeArrival'][i],df_train['LatitudeArrival'][i],df_train['WeeksToDeparture'][i],df_train['std_wtd'][i],mt0[i],stt0[i],mA2[i],mA1[i],cv[i],cvt0[i],mA3[i],disTr[i],td0[i],t1[i],nm.T[0][i],nsd.T[0][i],ncv.T[0][i],disTrain.T[0][i],nm3.T[0][i],nsd3.T[0][i],ncv3.T[0][i],disTrain2.T[0][i],airportTr[i],normDate[i],dayTr[i],monthTr[i],yearTr[i],holTr[i],df_train['PAX'][i]])

In [ ]:
import csv
with open('TestV2.csv', 'w', newline='') as csvfile:
    writer = csv.writer(csvfile, delimiter=',')
    writer.writerow(['DateOfDeparture', 'Departure','CityDeparture','LongitudeDeparture','LatitudeDeparture','Arrival','CityArrival','LongitudeArrival','LatitudeArrival','WeeksToDeparture','std_wtd','Norm mean','Norm std','Norm std(MAX)','Norm mean(MAX)','CV','CV of norm','Norm CV(MAX)','Distance','Norm Distance','Norm Distance(MAX)','mean(MinMaxScale)','std(MinMaxScale)','CV(MinMaxScale)','Distance(MinMaxScale)','mean(StandardScale)','std(StandardScale)','CV(StandardScale)','Distance(StandardScale)','Airports','Date(Norm)','Day','Month','Year','IsHolidays'])
    for i in range(len(df_test)):
        writer.writerow([df_test['DateOfDeparture'][i],df_test['Departure'][i],df_test['CityDeparture'][i],df_test['LongitudeDeparture'][i],df_test['LatitudeDeparture'][i],df_test['Arrival'][i],df_test['CityArrival'][i],df_test['LongitudeArrival'][i],df_test['LatitudeArrival'][i],df_test['WeeksToDeparture'][i],df_test['std_wtd'][i],mt1[i],stt1[i],mA5[i],mA4[i],cv2[i],cvt1[i],mA6[i],disTe[i],td1[i],t2[i],nm2.T[0][i],nsd2.T[0][i],ncv2.T[0][i],disTest.T[0][i],nm4.T[0][i],nsd4.T[0][i],ncv4.T[0][i],disTest2.T[0][i],airportTe[i],normDate1[i],dayTe[i],monthTe[i],yearTe[i],holTe[i]])

In [ ]:
import csv
with open('TrainN.csv', 'w', newline='') as csvfile:
    writer = csv.writer(csvfile, delimiter=',')
    writer.writerow(['DateOfDeparture', 'Departure','CityDeparture','LongitudeDeparture','LatitudeDeparture','Arrival','CityArrival','LongitudeArrival','LatitudeArrival','WeeksToDeparture','std_wtd','Distance','Airports','IsHolidays','PAX'])
    for i in range(len(df_train)):
        writer.writerow([normDate[i],df_train['Departure'][i],df_train['CityDeparture'][i],df_train['LongitudeDeparture'][i],df_train['LatitudeDeparture'][i],df_train['Arrival'][i],df_train['CityArrival'][i],df_train['LongitudeArrival'][i],df_train['LatitudeArrival'][i],df_train['WeeksToDeparture'][i],df_train['std_wtd'][i],df_train['Distance'][i],airportTr[i],holTr[i],df_train['PAX'][i]])

In [ ]:
import csv
with open('TestN.csv', 'w', newline='') as csvfile:
    writer = csv.writer(csvfile, delimiter=',')
    writer.writerow(['DateOfDeparture', 'Departure','CityDeparture','LongitudeDeparture','LatitudeDeparture','Arrival','CityArrival','LongitudeArrival','LatitudeArrival','WeeksToDeparture','std_wtd','Distance','Airports','IsHolidays'])
    for i in range(len(df_test)):
        writer.writerow([normDate1[i],df_test['Departure'][i],df_test['CityDeparture'][i],df_test['LongitudeDeparture'][i],df_test['LatitudeDeparture'][i],df_test['Arrival'][i],df_test['CityArrival'][i],df_test['LongitudeArrival'][i],df_test['LatitudeArrival'][i],df_test['WeeksToDeparture'][i],df_test['std_wtd'][i],df_test['Distance'][i],airportTe[i],holTe[i]])

In [15]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
le.fit(df_train['Departure'])
df_train['Departure'] = le.transform(df_train['Departure'])
df_train['Arrival'] = le.transform(df_train['Arrival'])
df_test['Departure'] = le.transform(df_test['Departure'])
df_test['Arrival'] = le.transform(df_test['Arrival'])
le = LabelEncoder()
le.fit(df_train['CityDeparture'])
df_train['CityDeparture'] = le.transform(df_train['CityDeparture'])
df_train['CityArrival'] = le.transform(df_train['CityArrival'])
df_test['CityDeparture'] = le.transform(df_test['CityDeparture'])
df_test['CityArrival'] = le.transform(df_test['CityArrival'])

In [16]:
import math
import numpy as np
mD=df_train['Departure'].max()
mA=df_train['Arrival'].max()
mCD=df_train['CityDeparture'].max()
mCA=df_train['CityArrival'].max()

mDT=df_test['Departure'].max()
mAT=df_test['Arrival'].max()
mCDT=df_test['CityDeparture'].max()
mCAT=df_test['CityArrival'].max()
#print(mD)
ND = math.log2(mD)   # python 3.4 or later
ND=int(ND+1)
print(ND)
NA = math.log2(mA)   # python 3.4 or later
NA=int(NA+1)
print(NA)
NCD = math.log2(mCD)   # python 3.4 or later
NCD=int(NCD+1)
print(NCD)
NCA = math.log2(mCA)   # python 3.4 or later
NCA=int(NCA+1)
print(NCA)
x=len(df_train)

NDT = math.log2(mDT)   # python 3.4 or later
NDT=int(NDT+1)
print(NDT)
NAT = math.log2(mAT)   # python 3.4 or later
NAT=int(NAT+1)
print(NAT)
NCDT = math.log2(mCDT)   # python 3.4 or later
NCDT=int(NDT+1)
print(NCDT)
NCAT = math.log2(mCAT)   # python 3.4 or later
NCAT=int(NCAT+1)
print(NCAT)
#--------------------------------------------#
aD=np.zeros(shape = (len(df_train),5))
aA=np.zeros(shape = (len(df_train),5))
aCD=np.zeros(shape = (len(df_train),6))
aCA=np.zeros(shape = (len(df_train),5))
aDT=np.zeros(shape = (len(df_test),5))
aAT=np.zeros(shape = (len(df_test),5))
aCDT=np.zeros(shape = (len(df_test),6))
aCAT=np.zeros(shape = (len(df_test),5))
for i in range(len(df_train)):
    val=df_train['Departure'][i]
    v='{0:05b}'.format(val)
    for j in range(len(v)):
        aD[i][j]=v[j]
        
for i in range(len(df_train)):
    val=df_train['Arrival'][i]
    v='{0:05b}'.format(val)
    for j in range(len(v)):
        aA[i][j]=v[j]
        
        
for i in range(len(df_train)):
    val=df_train['CityDeparture'][i]
    v='{0:06b}'.format(val)
    for j in range(len(v)):
        aCD[i][j]=v[j]
        
        
for i in range(len(df_train)):
    val=df_train['CityArrival'][i]
    v='{0:05b}'.format(val)
    for j in range(len(v)):
        aCA[i][j]=v[j]

        
#-----------------------------------------------------#        
for i in range(len(df_test)):
    val=df_test['Departure'][i]
    v='{0:05b}'.format(val)
    for j in range(len(v)):
        aDT[i][j]=v[j]
        
for i in range(len(df_test)):
    val=df_test['Arrival'][i]
    v='{0:05b}'.format(val)
    for j in range(len(v)):
        aAT[i][j]=v[j]
        
        
for i in range(len(df_test)):
    val=df_test['CityDeparture'][i]
    v='{0:06b}'.format(val)
    for j in range(len(v)):
        aCDT[i][j]=v[j]
        
        
for i in range(len(df_test)):
    val=df_test['CityArrival'][i]
    v='{0:05b}'.format(val)
    for j in range(len(v)):
        aCAT[i][j]=v[j]

5
5
5
5
5
5
6
5

In [17]:
print(df_train['Departure'][0])
print(aD[0][0])

15
0.0

In [19]:
aH=np.zeros(shape = (len(df_train),2))
aAR=np.zeros(shape = (len(df_train),2))
aHT=np.zeros(shape = (len(df_test),2))
aART=np.zeros(shape = (len(df_test),2))
for i in range(len(df_train)):
    val=holTr[i]
    v='{0:02b}'.format(val)
    for j in range(len(v)):
        aH[i][j]=v[j]
        
for i in range(len(df_train)):
    val=airportTr[i]
    v='{0:02b}'.format(val)
    for j in range(len(v)):
        aAR[i][j]=v[j]

for i in range(len(df_test)):
    val=holTe[i]
    v='{0:02b}'.format(val)
    for j in range(len(v)):
        aHT[i][j]=v[j]
        
for i in range(len(df_test)):
    val=airportTe[i]
    v='{0:02b}'.format(val)
    for j in range(len(v)):
        aART[i][j]=v[j]

In [20]:
import csv
with open('TrainN3.csv', 'w', newline='') as csvfile:
    writer = csv.writer(csvfile, delimiter=',')
    writer.writerow(['DateOfDeparture', 'Departure1','Departure2','Departure3','Departure4','Departure5','CityDeparture1','CityDeparture2','CityDeparture3','CityDeparture4','CityDeparture5','CityDeparture6','LongitudeDeparture','LatitudeDeparture','Arrival1','Arrival2','Arrival3','Arrival4','Arrival5','CityArrival1','CityArrival2','CityArrival3','CityArrival4','CityArrival5','LongitudeArrival','LatitudeArrival','WeeksToDeparture','std_wtd','Distance','Airports1','Airports2','IsHolidays1','IsHolidays2','PAX'])
    for i in range(len(df_train)):
        writer.writerow([normDate[i],aD[i][0],aD[i][1],aD[i][2],aD[i][3],aD[i][4],aCD[i][0],aCD[i][1],aCD[i][2],aCD[i][3],aCD[i][4],aCD[i][5],df_train['LongitudeDeparture'][i],df_train['LatitudeDeparture'][i],aA[i][0],aA[i][1],aA[i][2],aA[i][3],aA[i][4],aCA[i][0],aCA[i][1],aCA[i][2],aCA[i][3],aCA[i][4],df_train['LongitudeArrival'][i],df_train['LatitudeArrival'][i],df_train['WeeksToDeparture'][i],df_train['std_wtd'][i],df_train['Distance'][i],aAR[i][0],aAR[i][1],aH[i][0],aH[i][1],df_train['PAX'][i]])

In [21]:
import csv
with open('TestN3.csv', 'w', newline='') as csvfile:
    writer = csv.writer(csvfile, delimiter=',')
    writer.writerow(['DateOfDeparture', 'Departure1','Departure2','Departure3','Departure4','Departure5','CityDeparture1','CityDeparture2','CityDeparture3','CityDeparture4','CityDeparture5','CityDeparture6','LongitudeDeparture','LatitudeDeparture','Arrival1','Arrival2','Arrival3','Arrival4','Arrival5','CityArrival1','CityArrival2','CityArrival3','CityArrival4','CityArrival5','LongitudeArrival','LatitudeArrival','WeeksToDeparture','std_wtd','Distance','Airports1','Airports2','IsHolidays1','IsHolidays2'])
    for i in range(len(df_test)):
        writer.writerow([normDate1[i],aDT[i][0],aDT[i][1],aDT[i][2],aDT[i][3],aDT[i][4],aCDT[i][0],aCDT[i][1],aCDT[i][2],aCDT[i][3],aCDT[i][4],aCDT[i][5],df_test['LongitudeDeparture'][i],df_test['LatitudeDeparture'][i],aAT[i][0],aAT[i][1],aAT[i][2],aAT[i][3],aAT[i][4],aCAT[i][0],aCAT[i][1],aCAT[i][2],aCAT[i][3],aCAT[i][4],df_test['LongitudeArrival'][i],df_test['LatitudeArrival'][i],df_test['WeeksToDeparture'][i],df_test['std_wtd'][i],df_test['Distance'][i],aART[i][0],aART[i][1],aHT[i][0],aHT[i][1]])