In [8]:
import pandas as pd

df_train = pd.read_csv('tTrain.csv')
df_train.head()

,DateOfDeparture,Departure,CityDeparture,LongitudeDeparture,LatitudeDeparture,Arrival,CityArrival,LongitudeArrival,LatitudeArrival,WeeksToDeparture,...,Norm CV(MAX),Distance,Norm Distance,Norm Distance(MAX),Airports,Day,Month,Year,IsHolidays,PAX
0,2011-12-05,ORD,Chicago,41.978603,-87.904842,EWR,Newark,40.692500,-74.168667,8.352941,...,0.368396,1527.939887,0.152794,0.267639,2,5,12,2011,0,7
1,2013-03-01,ATL,Atlanta,33.636719,-84.428067,LGA,New York,40.777245,-73.872608,10.421053,...,0.521131,1181.336943,0.118134,0.206926,1,1,3,2013,0,7
2,2012-02-06,ORD,Chicago,41.978603,-87.904842,BOS,Boston,42.364347,-71.005181,9.250000,...,0.418934,1879.752387,0.187975,0.329263,2,6,2,2012,0,7
3,2012-12-10,ORD,Chicago,41.978603,-87.904842,SFO,San Francisco,37.618972,-122.374889,8.666667,...,0.463889,3833.459735,0.383346,0.671480,2,10,12,2012,0,7
4,2012-04-13,SFO,San Francisco,37.618972,-122.374889,JFK,New York,40.639751,-73.778925,14.037037,...,0.381346,5403.554833,0.540355,0.946503,2,13,4,2012,0,7

In [9]:
df_test = pd.read_csv('tTest.csv')
df_test.head()

,DateOfDeparture,Departure,CityDeparture,LongitudeDeparture,LatitudeDeparture,Arrival,CityArrival,LongitudeArrival,LatitudeArrival,WeeksToDeparture,...,CV of norm,Norm CV(MAX),Distance,Norm Distance,Norm Distance(MAX),Airports,Day,Month,Year,IsHolidays
0,2012-10-21,DFW,Dallas-Fort Worth,32.896828,-97.037997,SFO,San Francisco,37.618972,-122.374889,14.600000,...,0.079287,0.368396,2821.532925,0.282153,0.494228,2,21,10,2012,0
1,2012-09-13,LAX,Los Angeles,33.942536,-118.408075,ATL,Atlanta,33.636719,-84.428067,14.730769,...,0.090724,0.521131,3779.583120,0.377958,0.662043,2,13,9,2012,0
2,2012-09-04,ORD,Chicago,41.978603,-87.904842,IAH,Houston,29.984433,-95.341442,8.470588,...,0.069482,0.418934,823.505267,0.082351,0.144248,2,4,9,2012,1
3,2012-08-13,DEN,Denver,39.861656,-104.673178,PHX,Phoenix,33.434278,-112.011583,8.200000,...,0.076742,0.463889,845.501646,0.084550,0.148101,2,13,8,2012,0
4,2012-09-10,ORD,Chicago,41.978603,-87.904842,SEA,Seattle,47.449000,-122.309306,12.090909,...,0.075583,0.381346,3825.798893,0.382580,0.670138,2,10,9,2012,0

In [10]:
y_train = df_train[['PAX']]

from sklearn.model_selection import train_test_split
#df_train, df_test, y_train, y_test = train_test_split(df_train, y_train, test_size=0.2,random_state=42)#random_state=42

df_train.drop(df_train.columns[[2,3,4,6,7,8,26]], axis=1, inplace=True)
df_train.head()

,DateOfDeparture,Departure,Arrival,WeeksToDeparture,std_wtd,Norm mean,Norm std,Norm std(MAX),Norm mean(MAX),CV,CV of norm,Norm CV(MAX),Distance,Norm Distance,Norm Distance(MAX),Airports,Day,Month,Year,IsHolidays
0,2011-12-05,ORD,EWR,8.352941,5.667243,0.083529,0.056672,0.332669,0.360612,0.678473,0.067847,0.368396,1527.939887,0.152794,0.267639,2,5,12,2011,0
1,2013-03-01,ATL,LGA,10.421053,10.001754,0.104211,0.100018,0.587106,0.449896,0.959764,0.095976,0.521131,1181.336943,0.118134,0.206926,1,1,3,2013,0
2,2012-02-06,ORD,BOS,9.250000,7.136821,0.092500,0.071368,0.418934,0.399339,0.771548,0.077155,0.418934,1879.752387,0.187975,0.329263,2,6,2,2012,0
3,2012-12-10,ORD,SFO,8.666667,7.404291,0.086667,0.074043,0.434634,0.374156,0.854341,0.085434,0.463889,3833.459735,0.383346,0.671480,2,10,12,2012,0
4,2012-04-13,SFO,JFK,14.037037,9.858544,0.140370,0.098585,0.578700,0.606004,0.702324,0.070232,0.381346,5403.554833,0.540355,0.946503,2,13,4,2012,0

In [11]:
df_test.drop(df_test.columns[[2,3,4,6,7,8]], axis=1, inplace=True)
df_test.head()

,DateOfDeparture,Departure,Arrival,WeeksToDeparture,std_wtd,Norm mean,Norm std,Norm std(MAX),Norm mean(MAX),CV,CV of norm,Norm CV(MAX),Distance,Norm Distance,Norm Distance(MAX),Airports,Day,Month,Year,IsHolidays
0,2012-10-21,DFW,SFO,14.600000,11.575837,0.146000,0.115758,0.332669,0.360612,0.792866,0.079287,0.368396,2821.532925,0.282153,0.494228,2,21,10,2012,0
1,2012-09-13,LAX,ATL,14.730769,13.364304,0.147308,0.133643,0.587106,0.449896,0.907237,0.090724,0.521131,3779.583120,0.377958,0.662043,2,13,9,2012,0
2,2012-09-04,ORD,IAH,8.470588,5.885551,0.084706,0.058856,0.418934,0.399339,0.694822,0.069482,0.418934,823.505267,0.082351,0.144248,2,4,9,2012,1
3,2012-08-13,DEN,PHX,8.200000,6.292853,0.082000,0.062929,0.434634,0.374156,0.767421,0.076742,0.463889,845.501646,0.084550,0.148101,2,13,8,2012,0
4,2012-09-10,ORD,SEA,12.090909,9.138662,0.120909,0.091387,0.578700,0.606004,0.755829,0.075583,0.381346,3825.798893,0.382580,0.670138,2,10,9,2012,0

In [ ]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
le.fit(df_train['Departure'])
df_train['Departure'] = le.transform(df_train['Departure'])
df_train['Arrival'] = le.transform(df_train['Arrival'])
df_test['Departure'] = le.transform(df_test['Departure'])
df_test['Arrival'] = le.transform(df_test['Arrival'])
#le.fit(df_train['CityDeparture'])
#df_train['CityDeparture'] = le.transform(df_train['CityDeparture'])
#df_train['CityArrival'] = le.transform(df_train['CityArrival'])
#df_test['CityDeparture'] = le.transform(df_test['CityDeparture'])
#df_test['CityArrival'] = le.transform(df_test['CityArrival'])
le = LabelEncoder()
le.fit(df_train['DateOfDeparture'])
df_train['DateOfDeparture'] = le.transform(df_train['DateOfDeparture'])
df_test['DateOfDeparture'] = le.transform(df_test['DateOfDeparture'])
df_train.shape

In [ ]:
df_train.head()

In [ ]:
from sklearn.preprocessing import OneHotEncoder
cf = [0,1,2]
enc = OneHotEncoder(categorical_features=cf,sparse=False)
enc.fit(df_train)
#enc.fit(df_test)
X_train = enc.transform(df_train)
X_test = enc.transform(df_test)
X_train.shape

In [ ]:
#SELECT K-BEST FEATURES with OneHotEncoder
'''
from sklearn.feature_selection import SelectKBest, f_classif
selector=SelectKBest(score_func=f_classif,k=3)
selector.fit(df_train,y_train)
print("scores_:",selector.scores_)
print("pvalues_:",selector.pvalues_)
print("selected index:",selector.get_support(True))
print("after transform:",selector.transform(X)) 
'''

In [ ]:
#PCA
from sklearn.decomposition import PCA
#X_train=df_train
#X_test = df_test
samples = X_train.shape[0]
dim = X_train.shape[1]
n_components=10 #best j=5 or j=10 
pca = PCA()
Xtr_reduced = pca.fit_transform(X_train)
Xte_reduced = pca.fit_transform(X_test)

In [ ]:
explained_variance = pca.explained_variance_ratio_  
print(explained_variance)
p=0.33976173+0.18583264+0.1795792+0.14891894 
print(p)
#explained_variance.shape()

In [ ]:
def get_optimal_number_of_components():
    c=0
    j=0
    print(len(explained_variance))
    while(c<0.9):
        c=explained_variance[j]+c
        j=j+1
    c1=0
    for i in range(len(explained_variance)):
        c1=explained_variance[i]+c
    print(c1)
    return j-1
com=get_optimal_number_of_components()
print(com)
pca = PCA(n_components=100)  
X_train = pca.fit_transform(X_train)  
X_test = pca.transform(X_test)

In [ ]:
from sklearn.neighbors import KNeighborsClassifier
import numpy as np
k = 56   #best 17(NOT PCA), best 73 (for PCA)
y_train = np.ravel(y_train)
clf = KNeighborsClassifier(k)
clf.fit(X_train, y_train)
y_pred = clf.predict(X_test)

In [ ]:
import csv
from sklearn.metrics import f1_score
with open('y_predknn.csv', 'w', newline='') as csvfile:
    writer = csv.writer(csvfile, delimiter=',')
    writer.writerow(['Id', 'Label'])
    for i in range(y_pred.shape[0]):
        writer.writerow([i, y_pred[i]])
f1_score(y_test, y_pred, average='micro')